/* Reset básico para remover margens/paddings padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('./../image/Teste-Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1;
    display: flex;
    align-items: center;
}
/* Estilo para o cabeçalho */
header {
    background-color: #4CAF50;
    text-align: center;
}

header h1 {
    color: #fff;
}

/* Container principal */
.container {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    background-color: rgba(97, 161, 102);
    padding: 40px;
    border-radius: 12px;
}

/* Divisória de login */
.divisoria-login {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2%;
    width: 100%;
    padding: 10px;
}

/* Estilos da caixa de cadastro */
.div-login-centro {
    flex: 1;
    padding: 20px;
    margin-right: 2%;
    text-align: center;
    box-shadow: inset -2px 0 0 #f0f0f0;
    align-self: flex-start;
}

.caixa-cadastro-login h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.caixa-cadastro-login p {
    font-size: 15px;
    margin-bottom: 30px;
    color: #555;
}

/* Botão de cadastro */
.btn-cadastro-login {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

/* Estilo da seção de login */
.titulo-login h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

/* Inputs do formulário */
.form-input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

/* Botão de login */
.login-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

/* Ajustes de layout responsivo */
@media (max-width: 768px) {
    .divisoria-login {
        flex-direction: column;
    }

    .div-login-centro {
        margin-right: 0;
        border-right: none;
        border-bottom: 2px solid #f0f0f0;
    }
}