@import url('404.css');
@import url('animation.css');
@import url('blog.css');
@import url('cadastro_produto.css');
@import url('cadastro&login.css');
@import url('carrinho.css');
@import url('categorias.css');
@import url('contato.css');
@import url('detalhes.css');
@import url('footer.css');
@import url('login.css');
@import url('menu_do_Usuario.css');
@import url('menu.css');
@import url('obrigado_pedido.css');
@import url('pagamento.css');
@import url('produtos.css');
@import url('sobre.css');
@import url('minha_conta.css');
@import url('controle_vendas.css');

:root{
    /*Paleta de cores*/

    /*Principais*/
    --primary-color: #4CAF50;
    --secudary-color: #61a16680;
    --tertiary-color: #f0f0f0;
    
    /*Modo claro*/
    --primary-hover: #45a049;

    --primary-text-color: aliceblue;
    --secondary-text-color: #333;

    --container-bg-white: #f0f0f0;
    --container-bg-white-10: #e0e0e0;
    --container-bg-white-30: #bababa;
    --container-bg-white-50: #a0a0a0;
    --container-bg-white-70: #808080;
    --container-bg-white-90: #606060;
    --container-bg-10: #63a168;
    --container-bg-90: #61a16680;
    
    --input-bg: #ffffffe6;
}

/* Estilos globais */
*body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
}